#container{
    width: 1450px;
    height: 850px;
    \\background-color: red;
    margin: 0% auto;
    overflow: hidden;
}
.img{
    width: 1450px;
    height: 900px;
}
.pin{
    height: 100px;
    width: 100px;
}
.table{
    border-radius: 10px;
    background-color: rgba(218, 186, 202, 0.933);
    width: 580px;
    height: 790px;
    position: absolute;
    display: block;
    margin-top: -870px;
    margin-left: 467px;
    border: 1px solid gray;
    box-shadow: 2px 2px 20px  gray;
}
.table:hover .icon img{
    margin-left: 182px;
}
.icon img{
    margin-left: -10px;
    margin-top: -30px;
    height: 150px;
    width: 150px;
    transition: 2.8s;
    float: left;
}
.icon img:hover{
    margin-left: 540px;
}
.icon-3 img{
    position: absolute;
    margin-left: 300px;
    margin-top: -32px;
    height: 150px;
    width: 150px;
    transition: 2.8s;
}
.table:hover .icon-3 img{
    margin-left: -80px
}
.text{
    margin-top: -40px;

    width: 400px;
    height: 180px;
}
.text-2 img{
    margin-top: -70px;
    margin-left: -44px;
    width:520px;
    height: 270px;
    float:left ;
}
.icon-2 img{
    height: 160px;
    width: 160px;
    
    float: right;
    margin-top: -230px;
    margin-right: 9px;
}
.y{
    
    height: 70px;
}
.y>.yt{
    box-shadow: 0 0 6px blue;
    border: 1px solid rgba(47, 8, 240, 0.66);
    margin-top: -45px;
    \\background-color: red;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 90px;
    float: left;
    transition: 0.2s;
}
.y>.yt:hover{
    box-shadow: 0 0 20px blue;
}
.y>.yt:hover .fb{
   height: 60px;
   width: 60px;
   margin-left: 5.5px;
    margin-top: 5px;
    
}
.y>.yt-2{
    box-shadow: 0 0 6px rgb(145, 32, 147);
    border: 1px solid rgb(181, 48, 137);
    margin-top: 135px;
    \\ackground-color: red;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 255px;
    transition: 0.2s;
}
.y>.yt-2:hover{
    box-shadow: 0 0 20px rgb(163, 13, 165);
}
.y>.yt-2:hover .int{
    height: 53px;
    width: 53px;
    margin-left: 9px;
    margin-top: -35px;
   
}
.y>.yt-3{
    box-shadow: 0 0 6px rgb(139, 30, 30);
    border: 1px solid rgb(117, 24, 24);
    margin-top: -72px;
   \\background-color: red;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 90px;
    float: right;
    transition: 0.2s;
}
.y>.yt-3:hover{
    box-shadow: 0 0 20px rgb(139, 30, 30);
}
.y>.yt-3:hover .tikt{
    height: 62px;
    width: 62px;
    margin-left: 4px;
    margin-top: 4px;
}
.fb{
    background-size: 100% 100%;
    height: 50px;
    width: 50px;
    margin-left: 10px;
    margin-top: 10px;
    transition: 0.3s;
}
.int{
    background-size: 100% 100%;
    height: 48px;
    width: 48px;
    margin-left: 11px;
    margin-top: -500px;
    transition: 0.3s; 

}
.tikt{
    background-size: 100% 100%;
    height: 55px;
    width: 55px;
    margin-left: 8px;
    margin-top: 8px;
    transition: 0.3s;
    border-radius: 50%;
    display: block;
}
.name{
    margin-left: 81px;
    margin-top: -16px;
    color: rgb(74, 42, 42);
    font-size: 21px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
}
.name-2{
    margin-left: 243px;
    margin-top: -45px;
    color: rgb(74, 42, 42);
    font-size: 21px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
}
.name-3{
    margin-left:423px;
    margin-top: -45px;
    color: rgb(74, 42, 42);
    font-size: 21px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
}
.zing img{
    position: absolute;
    margin-top: 310px;
    margin-left: 500px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    animation: mp3 5s linear infinite;
    background-color: rgb(251, 242, 248);
}
.zing img:hover{
    animation: mp3 5s linear infinite
}
.zing-2 img{
    position: absolute;
    margin-top: 310px;
    margin-left: 9px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    animation: mp3 5s linear infinite;
    background-color: rgb(251, 242, 248);
}
@keyframes mp3{
    0% {transform: rotate(0deg);}
    100% {
        transform: rotate(360deg);
    }
}
.audio{
    border-radius: 19px;
    margin-top: 59.5px;
    margin-left: 95px;
    height: 98px;
    width: 379px;
}

.khung-2 img{
    position: absolute;
    margin-top: -33px;
    margin-left: 33px;
    width: 500px;
    height: 250px;
    
}
.anh-1{
    margin-top: -137px;
    margin-left: 370px;
    position: absolute ;
    height: 80px;
    width: 100px;
}
.anh-2{
    margin-top: -146px;
    margin-left: 90px;
    position: absolute ;
    height: 110px;
    width: 100px;
}